@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>


<address>
    
    <b>Developer's Contats</b> <br /><hr/>
    Rabbani Bhuyain<br />
    917-765-1001<br />
    rabbani.bhuyain@outlook.com
    
</address>
